body{
  font-family: "Poppins", sans-serif;
  /* background-image:linear-gradient(to right, #4FACFE, #00F2FE );  */
  color: #F8FAFC;
  background-color: #0F172A;
}
header{
  background-color: #1E293B;
  box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.1);
}
.bg-dark{
  background-color: oklch(27.8% .033 256.848);
  box-shadow: 2px 2px 0px rgba(255,255,255,0.1);
  border-radius:4px;
}

.bg-neutral-secondary-medium{
  background-color:transparent;
  border: none;
  border-radius:2px;
  border:1px solid rgba(255, 255, 255, 0.1)
}
.custum-style-icon{
  font-size:100px;
}

#img-change{
border-radius:12px;
box-shadow: 2px 2px 0px rgba(255,255,255,0.1);
background-color:#1E293B;
}

#img-change.clouds{
  background-image: linear-gradient(
      rgba(0, 0, 0, .6), 
      rgba(0, 0, 0, .6)
    ),url(../src/img/clouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#img-change.clear{
  background-image: linear-gradient(
      rgba(0, 0, 0, .6), 
      rgba(0, 0, 0, .6)
    ),url(../src/img/sun.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center;
}

#img-change.rain{
  background-image: linear-gradient(
      rgba(0, 0, 0, .6), 
      rgba(0, 0, 0, .6)
    ),url(../src/img/rain.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}


.custum-style-icon.fa-sun{
color:#FACC15;
}
.custum-style-icon.fa-cloud{
color:#38BDF8;
}

.custum-style-icon.fa-cloud-rain{
  color:#d5d5d5;
}
.forecatWarpper i.custum-style-icon{
font-size:40px;
}

.forecatWarpper p{
  margin-bottom:6px;
}

#img-area{
  text-align: center;
  position: relative;
  top: -6px;
}

#img-area h2{
  margin-top:2px;
}

#data-container P{
  margin-bottom:4px;
}

.overlay{
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:99;
}
.display_none{
  display: none;
}

.btn-design{
    width: 80px;
    background-color:#1E293B;
    color:#fff;
    padding: 8px 0px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
    
    font-weight: bold;
}

#show-error-api{
    background-color:#fff;
    min-width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 160px;
    color:#000;
    justify-content: center;
}

.design-heading{
  margin-top:20px;
}
#findbylocation:focus-visible,#findbylocation:focus,
#findcitybtn:focus-visible,#findcitybtn:focus
#serachInput:focus,#serachInput:focus-visible{
  outline: none;
  box-shadow: none;
}

.design-forecate-parent{
flex:1 0 0;
color:white;
padding:12px;
background-color:#1E293B;
box-shadow: 2px 2px 0px rgba(255,255,255,0.1);
border-radius:12px;
}


span.toggle-btn {
    width: 50px;
    display: inline-block;
   background-color:  #fff;
    height: 20px;
    border-radius: 50px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.toggle-btn .circle{
     width: 16px;
    height: 16px;
    background: oklch(0.63 0.15 153.89);
    display: inline-block;
    border-radius: 50%;
    top: 1.5px;
    position: absolute;
    cursor: pointer;
    left:0px;
    transition: all .8s ease-in-out;
}

.toggle-btn.on .circle{
right:0px;
left:inherit;
}


.fixed-in-top{
  position: fixed;
  width: 100%;
  background-color:rgb(247, 154, 16);
  color: #fff;
  right: 0px;
  left: 0px;
  top:0px;
  z-index: 0;
  padding:6px 0px;
  text-align: center;
}

#recent-search option{
  color:#1E293B;
}

.m-view-button aside h2{
    color: #fff;
    font-size: 14px;
    margin-bottom: 4px;
}

@media(max-width:991px){
  .flex#day-one{
      flex-wrap: wrap;
  }
  .design-forecate-parent {
        flex: 1 0 30vw;
    }
}

@media(max-width:768px){
 .m-view #data-wrapper.ml-4{
  margin-left:0px;
 }

 #serachInput,#recent-search{
  color: #F8FAFC;
 }

#img-change.h-40{
  height: auto;
} 
#show-error-api{
   min-width: auto;
   height: auto;
  width: 80%;
 font-size: 14px;
  padding: 10px;
}
.not-in-mobile{
      font-size:0px;
  }
    #findbylocation{
        position: absolute;
        right: 20px;
        top: 38px;
        padding: 10px 0px;
    }
    .m-view-button aside{
    
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #000;
    background-color: #1E293B;
    border:1px solid rgba(255, 255, 255, 0.1);
    }
    .custum-style-icon{
      font-size:60px;
    }
    .serach-place{
      width: calc(100% - 38px);
    }
    .bg-dark{
  background-color:none;
  box-shadow:none;
  border-radius:inherit;
}
#data-container{
  font-size:13px;
}

#data-container h2{
  font-size:16px;
}

#img-area{
top:inherit;
display: flex;
justify-content: center;
flex-direction: column;
}

}

