body{
  font-family: "Poppins", sans-serif;
}

.bg-dark{
  background-color: oklch(27.8% .033 256.848);
}

.custum-style-icon{
  font-size:100px;
}

.custum-style-icon.fa-sun{
color:#ecec6f;
}
.custum-style-icon.fa-cloud{
color:#d0d0d0;
}

.custum-style-icon.fa-cloud-rain{
  color:#d5d5d5;
}

.overlay{
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:99;
}
.display_none{
  display: none;
}

.btn-design{
    width: 80px;
    background: #ffffff;
    color: white;
    padding: 8px 0px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
    color: rgb(37 99 235);
    font-weight: bold;
}

#show-error-api{
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
    min-width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 160px;
    justify-content: center;
}

.design-heading{
  margin-top:20px;
}
#recent-search:focus-visible{
  outline: none;
}
#recent-search li{
  font-size:14px;
  cursor: pointer;
  margin-bottom: 1px;
}


.flex-1{
  flex:1 0 0;
}

span.toggle-btn {
    width: 50px;
    display: inline-block;
   background-color:  #fff;
    height: 20px;
    border-radius: 50px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.toggle-btn .circle{
     width: 16px;
    height: 16px;
    background: oklch(0.63 0.15 153.89);
    display: inline-block;
    border-radius: 50%;
    top: 1.5px;
    position: absolute;
    cursor: pointer;
    left:0px;
    transition: all .8s ease-in-out;
}

.toggle-btn.on .circle{
right:0px;
left:inherit;
}


.fixed-in-top{
  position: fixed;
  width: 100%;
  background-color:rgb(247, 154, 16);
  color: #fff;
  right: 0px;
  left: 0px;
  top:0px;
  z-index: 0;
  padding:6px 0px;
  text-align: center;
  
}